:root {	
  --background-color: rgb(127, 168, 177);
  --header-color-four: var(--arthrospira);
  --header-color-three: darkblue;
  --header-color-one: var(--arthrospira);
  --header-color-two: var(--arthrospira);
}