/* réinitialisations de base, ne pas toucher */

* {
  margin: 0;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  page-break-inside: avoid;
}

/* liens vers la typo */

@font-face {
  font-family: 'herschey-complex';
  src: url('../fonts/hershey-webfont/avhersheycomplexmedium-webfont.woff2') format('woff2'), url('hershey-webfont/avhersheycomplexmedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'herschey-noaille-futura';
  src: url('../fonts/webfonts/hershey-noailles-futuram-webfont.woff2') format('woff2'), url('fonts/webfonts/hershey-noailles-futuram-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'armata';
  src: url('fonts/webfonts/armata-regular-webfont.woff2') format('woff2'), url('fonts/webfonts/armata-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hershey futura light';
  src: url('../fonts/futuraLightAngled.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: #9F5881;
  --blocking-background-color: white;
  --color-research: green;
  --chelodonium: #E1A800;
  --pluvialis: #ED7B3C;
  --spiruline: #43905a;
  --murex: #9F5881;
  --salina: #CC6052;
  --arthrospira: rgb(192, 204, 255);
  --header-shadow-distance: .13ex;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: blue;;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
  font-family: 'herschey-noaille-futura';
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  margin-bottom: 1em;
  color: transparent;
  font-family: 'hershey futura light';
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px black, var(--header-shadow-distance) 0px 0px black, 0px var(--header-shadow-distance) 0px black;
  letter-spacing: .5ex;
  font-weight: normal;
  font-size: 125%;
  margin-top: -1.75em;
  margin-bottom: 1em;
}

h2 {
  font-size: 110%;
  margin-top: 24px;
  margin-bottom: 2px;
  font-family: 'hershey futura light';
  color: transparent;
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px var(--header-color-one), 0px calc(-1 * var(--header-shadow-distance)) 0px var(--header-color-two), var(--header-shadow-distance) 0px 0px var(--header-color-three), 0px var(--header-shadow-distance) 0px var(--header-color-four);
  margin-bottom: 1em;
}
#projects h2, #education h2 {
  text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px var(--spiruline), var(--header-shadow-distance) 0px 0px var(--spiruline), 0px var(--header-shadow-distance) 0px black;
  font-size: 9.5pt;
  line-height: 1.8em;
  font-family: 'hershey futura light';
  letter-spacing: .35ex;
  font-weight: normal;
  margin-top: -1em;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: 12pt;
  text-decoration: underline;
  margin: 10px 0px 15px 0px;

  /* background-color: blue;
  padding: 3px;
  color: white;
  width: 92%; */
}

p {
  font-size: 15pt;
  line-height: 1.25em;
  letter-spacing: -0.03em;
}

.section {
  display: inline-block;
  width: 33%;
  /* min-height: 100vh; */
  vertical-align: top;
  padding: 3.5em 20px 0 20px;
  position: relative;
}

#about {
  /* padding: 0px 20px; */
  /*margin-top: 50px;*/
  /* width: 40%; */
  /* float: left; */
  /* position: sticky; */
  /* height: 98vh; */
  /*padding-top: 2.5em;*/
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* margin-left: 33%; */
  /* background-image: repeating-linear-gradient(30deg, var(--spiruline), var(--spiruline) 1px, transparent 1px, transparent 4px); */
  --background-color: var(--spiruline);
}

h1 {
  margin-top: 0px;
}

h2 {
  margin-top: 0px;
  padding-top: 6px;
  text-align: center;
}


#content {
  padding-top: 20vh;
  padding-bottom: 10vh;
}

#content.index {
  padding-top: 0;
  padding-bottom: 0;
}


#projects {
  --background-color: var(--spiruline);
}

#education {
  --background-color: var(--pluvialis);
}

#projects .background, #education .background {
  --background-color: var(--spiruline);
}

#main .background25, #right-menu .background25 {
  --background-color: var(--spiruline);
  /* background-image: repeating-linear-gradient(150deg, var(--spiruline), var(--spiruline) 1px, transparent 1px, transparent 4px); */
  width: 25%;
  position: relative;
  float: left;
  padding: 20px;
}

#main .background {
  margin-top: 86px;
}

#main .background25 {
  margin-top: 135px;
}

#main div.intro, #right-menu div.intro {
  /*background-image: repeating-linear-gradient(70deg, var(--spiruline), var(--spiruline) 1px, transparent 1px,transparent 4px);*/
  /* background: white; */
  /*position: fixed;*/
  padding: 10px 20px;
}

#main li {
  /* background-color: white; */
  padding: 2px 0px 0px 0px;
  margin: 0px 20px;
  margin-bottom: 11px;
}

#main ul {
  /*margin-top: 210px;*/
  margin-right: 0px;
  /*padding-top: 95px;*/
  /* background-color: white; */
}

#main figure {
  margin-top: 4px;
}

div#menu {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 0px;
  font-size: 14pt;
  padding: 20px 20px 0px 20px;
  width: 100%;
  height: 60px;
}

div#menu {
  --background-color: white;
  -moz-background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 1px, transparent 1px, transparent 3px);
  -webkit-background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 1px, transparent 1px, transparent 3px);
  background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 1px, transparent 1px, transparent 3px);
}

section.image-gallery {
  --background-color: white;
  -moz-background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 2px, transparent 2px, transparent 3px);
  -webkit-background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 2px, transparent 2px, transparent 3px);
  background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 2px, transparent 2px, transparent 3px);
}

#menu li {
  display: inline-block;
  margin-right: 20px;
  font-family: 'herschey-noaille-futura';
  text-transform: lowercase;
  padding: 6px;
  -moz-background: repeating-linear-gradient(calc(var(--background-rotation) + 3deg), var(--blocking-background-color),  var(--blocking-background-color) 1px, transparent 1px, transparent 2px);
  -webkit-background: repeating-linear-gradient(calc(var(--background-rotation) + 3deg), var(--blocking-background-color),  var(--blocking-background-color) 1px, transparent 1px, transparent 2px);
  background: repeating-linear-gradient(calc(var(--background-rotation) + 3deg), var(--blocking-background-color),  var(--blocking-background-color) 1px, transparent 1px, transparent 2px);
}

a {
  text-decoration: none;
  color: blue;
}

#menu a, .menu a:hover, .menu a:visited {
  text-decoration: none;
  border-bottom: 0px solid;
}

#menu a:hover {
  /* color: white; */
  text-decoration: underline;
  /* text-shadow: calc(-1 * var(--header-shadow-distance)) 0px 0px black, 0px calc(-1 * var(--header-shadow-distance)) 0px black, var(--header-shadow-distance) 0px 0px black, 0px var(--header-shadow-distance) 0px black; */
}
#index a h2, #index a:hover, #index a h2:hover {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}
em {
  font-family: 'herschey-noaille-futura';
  font-style: normal;
  font-size: 11.5pt;
  vertical-align: 0.05em;
}

p.header {
  margin-top: 12pt;
  /*font-size: 12pt;*/
}

p.footer {
  font-size: 12pt;
}

p.footer-more {
  font-size: 12pt;
  font-weight: bold;
  font-family: 'herschey-noaille-futura';
  line-height: 2.25em;
}

a:hover {
  text-decoration: underline;
  /*font-size: 0.5em*/
}

p.header+h2 {
  margin-top: 24pt;
}

p.header+p, p+p {
  margin-top: 0pt;
  text-indent: 42px;
}

/* img:hover {
  width: 200%;
  margin-left: -50%;
  object-fit: contain;
  z-index: 100;
} */

/* figure:hover {
overflow: initial;
} */

img {
  cursor: zoom-in;
}

figure {
  width: 50%;
  float: left;
  overflow: hidden;
  margin: 0 1em 1em 0;
}

figure.full {
  width: 100%;
}

.section#projects figure, .section#education figure {
  width: 100%;
  float: none;
}

img {
  width: 100%;
  object-fit: contain;
  object-position: center center;
}

.item img + img {
  width: calc(33% - 5px);
  display: inline-block;
  margin: 0;
  padding: 0;
}

.section#projects a, .section#education a {
  color: black;
  text-decoration: none;
}


ul {
  margin-right: 15px;
}

ul li {
  list-style: none;
  line-height: 1.05em;
  font-size: 11.5pt;
}

.patterned, .patterned-border {
  -moz-background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 1px, transparent 1px, transparent 4px);
  -webkit-background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 1px, transparent 1px, transparent 4px);
  background: repeating-linear-gradient(var(--background-rotation), var(--background-color),  var(--background-color) 1px, transparent 1px, transparent 4px);
}

.patterned-background {
  -moz-background: repeating-linear-gradient(calc(var(--background-rotation) + 90deg), var(--blocking-background-color),  var(--blocking-background-color) 3px, transparent 3px, transparent 4px);
  -webkit-background: repeating-linear-gradient(calc(var(--background-rotation) + 90deg), var(--blocking-background-color),  var(--blocking-background-color) 3px, transparent 3px, transparent 4px);
  background: repeating-linear-gradient(calc(var(--background-rotation) + 90deg), var(--blocking-background-color),  var(--blocking-background-color) 3px, transparent 3px, transparent 4px);
}

.bordered, .patterned-border {
  padding: 30px;
}

.patterned-background {
  padding: 20px;
}

.columns {
  display: flex;
}

.columns .section {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.columns .section .fill {
  position: absolute;
  z-index: -2;
  left: 0;
  right: 0;
  top: 60vh;
  bottom: 0;
}

#projects ul {
  margin-top: 1em;
}

.index .section .column-rows {
  position: relative;
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.index .section .column-rows .row {
  max-width: 100%;
  display: flex;
  margin-bottom: 40px;
}

.index .section .column-rows .row .left-spacer,
.index .section .column-rows .row .right-spacer {
  flex: 1 1 auto;
}

.index .section .column-rows .row .item {
  min-width: initial;
  max-width: initial;
  flex: 0 0 auto;
  width: 75%;
  padding: 30px;
  min-width: 250px;
}

.index .section .column-rows .row .item .patterned-background {
  padding: 20px;
}

.index .section .column-rows .row:nth-of-type(even) .left-spacer {
  flex: 1 1 25%;
}

.index .section .column-rows .row:nth-of-type(3n) .right-spacer {
  flex: 1 1 20%;
}

#projects .fill {
  margin-right: -10%;
  margin-left: -10%;
}

#education .fill {
  margin-left: -10%;
}

.index .section#education .column-rows .row:nth-of-type(4n - 2) .left-spacer {
  flex: 1 1 40%;
}

.section#about {
  padding-top: calc(3.5em + 50px);
}

#about .intro {
  bottom: 0;
  z-index: initial;
}


.row {
  display: flex;
  flex-direction: row;
}

.row .left-spacer, .row .right-spacer  {
  flex: 1 1 auto;
}

.row:nth-of-type(1) .left-spacer {
  flex: 0 1 35%;
}

.row:nth-of-type(even) .left-spacer {
  flex: 0 1 15%;
}

.row:nth-of-type(3n) .left-spacer{
  flex: 0 1 50%;
}

.row.centered .left-spacer {
  flex: 1 1 auto;
}

.category .row .item, .page .row .item {
  flex: 0 0 auto;
  padding: 30px;
  width: 55%;
  display: inline-block;
  position: relative;
  margin-bottom: 60px;
  padding: 75px;
}

.category .row .item .patterned-background, .page .row .item .patterned-background  {
  padding: 30px;
}

#menu {
  padding: 50px 70px;
  --background-color: #E1A800;
}

#colors {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#colors div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#main.page .patterned-background{
  padding: 30px;
}

.page-navigator {
  z-index: 1;
  position: fixed;
  max-width: 300px;
  width: 30%;
  max-height: 80vh;
  bottom: 0vh;
  font-size: 19pt;
  padding: 35px 0px 0px 0px;
  color: var(--bleu);
  --background-color: var(--chelodonium);
  display: flex;
  flex-direction: column;
  color: blue;
}
.page-navigator ul{
  padding: 10px 20px 10px 10px;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.page-navigator ul  {
  display: none;
}

.page-navigator.expanded ul {
  display: inline-block;
}

.page-navigator li {
  font-family: 'herschey-noaille-futura';
  font-weight: bold;
  line-height: 1.35em;
  font-size: 10pt;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 15pt;
  padding-bottom: 3pt;
}

.page-navigator li::before, .rightside li::before {
  content: "- ";
}

.page-navigator-toggle {
  cursor: pointer;
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 5pt 13pt;
  font-weight: bold;
  position: absolute;
  top: 0;
}

.page-navigator-toggle::before {
  content: "↑ ";
  display: inline-block;
  font-weight: bold;
}
.expanded .page-navigator-toggle::before {
  content: "↓ ";
  display: inline-block;
  font-weight: bold;

}

.page-navigator a:target, .page-navigator a.active {
  text-decoration: underline;
}

#instagram-link, #instagram-link:hover {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#instagram-link img, #instagram-link img:hover  {
  max-width: 23px !important;
  max-height: 23px !important;
}

#logo-kask-hogent {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 200px;
  cursor: initial;
}

@media screen and (min-width: 601px) {
  .page .item, .category .item {
    min-width: 550px;
    max-width: 800px;
  }
}

@media screen and (orientation: portrait) {
  #content {
    padding-top: 15vh;
  }

  .leftside, .rightside {
    top: 15vh;
  }
}

@media screen and (max-width: 600px) {
  body.page-navigator-expanded {
    overflow: hidden;
  }

  .page .row .item,
  .category .row .item {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 40px 20px 40px 0px !important;
  }
  .page .row .item .patterned-background,
  .category .row .item .patterned-background {
    padding: 20px 20px 20px 45px;
  }
  .page-navigator {
    width: 0;
    max-width: 100vw;
    max-height: 100vh;
    left: initial;
    flex-direction: row-reverse;
    padding: 0 30px 0 0;
    top: 0;
    bottom: 0;
  }
  .page-navigator.expanded {
    left: 0;
    right: 0;
    width: initial;
    flex-direction: row;
   }
   .page-navigator.expanded ul {
     overflow-y: auto;
     height: 100vh;
     padding-top: 30px;
     padding-bottom: 30px;
   }
  .page-navigator-toggle {
    cursor: pointer;
    display: inline;
    writing-mode: vertical-lr;
    vertical-align: middle;
    /* margin-right: 20px; */
    /* margin-left: 45px; */
    margin: 0;
    top: initial;
    bottom: 20px;
    right: 0;
    color: blue;
    padding: 7pt 3pt;
    font-weight: bold;
  }
  .page .row .left-spacer,
  .page .row .right-spacer,
  .category .row .left-spacer,
  .category .row .right-spacer {
    display: none;
  }
  div#menu {
    top: 0;
  }
  a {
    word-break: break-all;
  }

  .columns {
    flex-direction: column;
  }

  .section {
    width: 100%;
  }
}

.event_date, .event_dates {
  font-size: 12.5pt;
  margin-bottom: 1em;
}


.event_dates li {
  margin: .25em 0 0 0;
}

.event_dates li:before {
  content: '- ';
}

body.has-image-gallery {
  overflow: hidden;
}

.image-gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: calc(100vh);
  z-index: 9;
  display: flex;
  flex-direction: row;
  --background-rotation: 15deg;
}

.image-gallery .button {
  font-size: 200%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: .75;
  text-shadow: 0px 0px 2px rgb(255,255,255,.8);
}

.image-gallery .button.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.image-gallery .button.close:hover {
  color: black;
}

.image-gallery .button.close::after {
  content: "X";
}

.image-gallery .button:hover {
  opacity: 1;
}

.image-gallery .button.prev, 
.image-gallery .button.next {
  position: absolute;
}

.image-gallery .button.prev {
  cursor: w-resize;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
  padding-left: 20px;
  justify-content: start;
}

.image-gallery .button.next {
  cursor: e-resize;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  padding-right: 20px;
  justify-content: end;
}

.image-gallery .button.prev::after {
  content: "<";
}

.image-gallery .button.next::after {
  content: ">";
}

.image-gallery .gallery-images {
  padding: 2em 0 2em 0;
  flex: 1 0 70%;
  display: flex;
}

.image-gallery.single .button.prev,
.image-gallery.first .button.prev,
.image-gallery.single .button.next,
.image-gallery.last .button.next {
  visibility: hidden;
}

.image-gallery img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center center;
  display: none;
  cursor: initial;
}

.image-gallery.single img {
  cursor: zoom-out;
}

.image-gallery img.active {
  display: block;
}

@media (orientation: portrait) {
  .image-gallery .button.prev, 
  .image-gallery .button.next {
    align-items: end;
    padding-bottom: 15px;
  }

  .image-gallery .button.prev {
    padding-left: 15px;
  }
  
  .image-gallery .button.next {
    padding-right: 15px;
  }
}

img.hidden {
  visibility: hidden;
}

br.clear {
  clear: both;
}