{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section class="article">
  <h2>{{ article.title }}</h2>

  {% if article.event_dates %}
    <ul class="event_dates">
      {% for date in article.event_dates %}
        <li>{{ date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}</li>
      {% endfor %}
    </ul>
  {% elif article.event_start_date and article.event_end_date %}
    <p class="event_date">
      {{ article.event_start_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }} →
      {{ article.event_end_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}
    </p>
  {% elif article.event_date %}
    <p class="event_date">
      {{ article.event_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}
    </p>
  {% endif %}

  {{ article.content }}
</section>
{% endblock %}
