{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link href="{{ SITEURL }}/theme/css/colors.{{ category.slug }}.css" rel="stylesheet" media="all" />
{% endblock %}
{% block scripts %}
  <script src="{{ SITEURL }}/theme/js/movements.{{ category.slug }}.js"></script>
{% endblock %}
{% block content %}

<div class="page-navigator colored-wrapper patterned">
  {% if category.slug == 'activities' %}
    <h3 class="page-navigator-toggle">All activities</h3>
  {% else %}
    <h3 class="page-navigator-toggle">All projects</h3>
  {% endif %}
  <ul class="patterned-background">
    {% for article in articles_page.object_list|sort_by_order %}
    <li><a href="#{{ article.slug }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>

</div>

<div id="content" class="category">
  <section class="page-intro">
    {{ category.page.content }}
  </section>
  {% for article in articles_page.object_list|sort_by_order %}
    <section class="article">
      <h2  class="colored">{{ article.title }}</h2>

      {% if article.event_dates %}
        <ul class="event_dates">
          {% for date in article.event_dates %}
            <li>{{ date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}</li>
          {% endfor %}
        </ul>
      {% elif article.event_start_date and article.event_end_date %}
        <p class="event_date">
          {{ article.event_start_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }} →
          {{ article.event_end_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}
        </p>
      {% elif article.event_date %}
        <p class="event_date">
          {{ article.event_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}
        </p>
      {% endif %}

      {{ article.content }}
    </section>
  {% endfor %}
</div>
{% endblock %}
