{% extends "base.html" %}
{% block content %}
    {% block content_title %}
    {% endblock %}

    {% include 'intro.html' %}

    {% for category, articles in categories %}
    <section id="{{ category.name }}">
        <section class="category-cover">
            Cover {{ category.name }}
        </section>
        <section class="category">
            <h1>{{ category.name }}</h1>
            <section class="section-intro">
                {{ category.page.content }}
            </section>
            <section class="make-page-break"></section>
            {% for article in articles|sort_by_order %}
                <section class="article" data-slug="{{ article.slug }}">
                    {% if category.slug == "activities" %}
                        <span class="article_date">
                            {{ article.date|strftime("%d-%m-%Y") }}
                        </span>
                    {% endif %}
                    <h2>{{ article.title }}</h2>
                    {% if article.event_dates %}
                        <ul class="event_dates">
                        {% for date in article.event_dates %}
                            <li>{{ date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}</li>
                        {% endfor %}
                        </ul>
                    {% elif article.event_start_date and article.event_end_date %}
                        <p class="event_date">
                        {{ article.event_start_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }} →
                        {{ article.event_end_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}
                        </p>
                    {% elif article.event_date %}
                        <p class="event_date">
                        {{ article.event_date|format_datetime|strftime('%A %-d %B %Y at %Hh%M') }}
                        </p>
                    {% endif %}
                    {{ article.content }}
                </section>
            {% endfor %}
        </section>
        {% if category.slug == 'colorlab' or category.slug == 'laboratorium' or category.slug == 'projects' %}
        <section class="make-page-break"></section>
        {% endif %}
    </section>
    {% endfor %}
    {% include 'colophon.html' %}

    <style>

    </style>

    <script src="{{ SITEURL }}/theme/js/move-figures.js"></script>

{% endblock content %}
