:root {
  --background-color: #00b386;
  --blocking-background-color: white;
  --header-color-mono: darkred;

  --header-color-one: black;
  --header-color-two: var(--spiruline);
  --header-color-three: var(--spiruline);
  --header-color-four: black;
}