/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}
/*
div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
} */

/* liens vers la typo */
@font-face {
    font-family: 'herschey-complex';
    src: url('fonts/hershey-webfont/avhersheycomplexmedium-webfont.woff2') format('woff2'),
         url('fonts/hershey-webfont/avhersheycomplexmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'herschey-noaille-futura';
    src: url('fonts/webfonts/hershey-noailles-futuram-webfont.woff2') format('woff2'),
         url('fonts/webfonts/hershey-noailles-futuram-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'armata';
    src: url('fonts/webfonts/armata-regular-webfont.woff2') format('woff2'),
         url('fonts/webfonts/armata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'hershey futura light';
  src:url('fonts/futuraLightAngled.ttf');
  font-weight: normal;
  font-style: normal;
}

:root {

  --color-research: green;

  --chelodonium: #E1A800;
  --pluvialis: #ED7B3C;
  --spiruline:#43905a;
  --murex:#9F5881;
  --salina: #CC6052;
}


#colors {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50vh;
}

#colors div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#colors div:nth-of-type(1) {
  background: repeating-linear-gradient(17deg, blueviolet, blueviolet 1px, transparent 1px,transparent 5px);
}

#colors div:nth-of-type(2) {
  background: repeating-linear-gradient(17deg, blue, blue 1px, transparent 1px,transparent 5px);
}

#colors div:nth-of-type(2) {
  background: repeating-linear-gradient(17deg, slateblue, slateblue 1px, transparent 1px,transparent 5px);
}

#menu {
  background: repeating-linear-gradient(17deg, seagreen, seagreen 1px, transparent 1px,transparent 4px);
}

#menu ul {
  /*background: white;*/
}

li {
  /* background: repeating-linear-gradient(17deg, orangered, orangered 1px, transparent 1px,transparent 4px); */
  /*padding: 10px;*/
  margin: 10px;
}

body {
  font-family: 'herschey-complex';
}
h1, h2, h3 {
  font-family: 'herschey-noaille-futura';
  font-weight: normal;


}
h1 {
  color: transparent;
  font-family: 'hershey futura light';
  text-shadow: -.175ex 0px 0px black, 0px -.175ex 0px black, .175ex 0px 0px black, 0px .175ex 0px black;
  letter-spacing: .5ex;
  font-weight: normal;
  font-size: 150%;
  margin-top: -2em;
  margin-bottom: 2em;
  text-align: center;
  text-transform: uppercase;
}
h1.colored {
  text-shadow: -.125ex 0px 0px black, 0px -.125ex 0px var(--murex), .125ex 0px 0px var(--salina), 0px .125ex 0px black;
}
h2 {
  font-size: 14pt;
  margin-top: 24px;
}
h2:first-of-type {
  margin-top: 0px;

}
h3 {
  font-size: 11pt;
/* text-decoration: underline; */
    margin: 10px 0px 5px 0px;
}
p {
  font-size: 20pt;
  line-height: 1.15em;
  font-family: 'herschey-noaille-futura';
  margin-bottom: 1.3em;
}

body {
  margin-top: 20em;
}

#main {
  padding: 30px;
  width: 63%;blue
  display: inline-block;
  position: relative;
  background: white;
  margin-top: 20px;
  padding: 100px;
  margin-left: 10%;
}
#left-menu, #right-tags {
  display: inline-block;
  height: 100vh;
  /* float: left; */
  position: relative;
  padding: 0px 30px 0px 30px;

}
#left-menu {
  width: 25%;
  border-right: 2px solid blue;
  text-align: right;
  background: repeating-linear-gradient(30deg, blue, blue 1px, transparent 1px,transparent 4px);
  background-clip: content-box;
}
#right-tags {
  width: 25%;
  border-left: 2px solid blueviolet;
}
#menu {
  position: sticky;
  top: 10px;
  z-index: 1;
  /*margin-left: 50px;
  margin-right: 50px;*/
  font-size: 10pt;
  text-transform: uppercase;
  /*padding: 50px;*/
      margin-top: -40px;
}

#menu li {
    /*display: inline-block;
    margin-right: 30px;
    font-family: 'herschey-noaille-futura';*/
    display: inline-block;
margin-right: 30px;
font-family: 'herschey-noaille-futura';
text-transform: lowercase;
font-weight: bold;
background: white;

}
#menu a, .menu a:hover, .menu a:visited {
    text-decoration: none;
    border-bottom: 0px solid;
}

.img-header {
  float: left;
  position: relative;
  margin-right: 20px;
  width: 44%;
}

span.color{
  background-color: green;
  width: 100%;
  height: 10vh;
  display: block;
}
figure {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 12px;
  margin-right: 19px;
}

figure img {
  width: 100%;
}
ul {
    margin-right: 15px;
}
ul li {
    list-style: none;
    line-height: 1.05em;
font-size: 11.5pt;
}
#main .colored-wrapper-content {
  background: white;
  padding: 20px;
}
